.back-to-top-button {
    width: 2em;
    height: 2em;

    position: fixed;
    bottom: 2em;
    right: 2em;

    font-size: 1.25em;

    display: none;
    justify-content: center;
    align-items: center;
}