@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

:root {
    --header-height: 40rem;
    --header-logo-height: 10rem;

    --background-color: #eee;
    --text-color: #333;
    --logo-blue-color: rgb(0%, 20%, 100%);
}



*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Mukta", sans-serif;
}

body {
    margin: 0;

    background-color: var(--background-color);
    color: var(--text-color);
}



a, span {
    padding: .25em 0;
}

a {
    position: relative;

    color: currentColor;

    text-decoration: none;
    cursor: pointer;
}

a:after {
    content: "";

    width: 100%;
    height: .25em;

    position: absolute;
    bottom: 0;
    left: 0;

    background: var(--logo-blue-color);

    transform-origin: center;
    scale: 0 1;
    transition: .1s ease-in;
}

a:not(.no-underline):hover {
    color: var(--logo-blue-color);
}

a:not(.no-underline):hover::after {
    scale: 1 1;
    transition: .1s ease-in;
}



h1 {
    margin: 0;

    color: var(--background-color);
    font-size: 3em;

    text-shadow: 0 0 .1em black;
}


main {
    max-width: min(100% - 2rem, 70rem);
    margin-inline: auto;

    z-index: -1;

    columns: 2;
}

footer {
    height: 10rem;

    z-index: -2;

    background-color: var(--text-color);
    color: var(--background-color);
}

footer a:hover {
    color: goldenrod;
}

footer a:not(.no-underline):hover::after {
    background-color: goldenrod;
}