:root {
    --header-height: 80%;

    --background-color: #eee;
    --text-color: #333;
    --logo-blue-color: rgb(0%, 20%, 100%);
}





*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;

    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    height: var(--header-height);
    margin-inline: auto;
}

main {
    max-width: min(100% - 2rem, 65rem);
    margin-inline: auto;

    columns: 2;
}

footer {
    height: 10rem;

    background-color: var(--text-color);
    color: var(--background-color);
}



h1 {
    margin: 0;

    color: var(--background-color);
    font-size: 3em;

    text-shadow: 0 0 .1em black;
}





.back-to-top-button {
    width: 2em;
    height: 2em;

    position: fixed;
    bottom: 2em;
    right: 2em;

    display: none;
    justify-content: center;
    align-items: center;

    font-size: 1.25em;
    background-color: rgb(255, 255, 255, .5);
    color: currentColor;

    text-decoration: none;
}

.back-to-top-button:hover {
    background-color: var(--logo-blue-color);
    color: var(--background-color);
}



/* ---------------------------------------------------------------------------------------- */

.parallax {
    height: 100vh;

    perspective: 1px;
    perspective-origin: center top;

    overflow-x: hidden;
    overflow-y: auto;
    /* -webkit-overflow-scrolling: touch; */

    scroll-behavior: smooth;
}

.parallax-group {
    position: relative;

    transform-style: preserve-3d;
}



.parallax-layer {
    width: 100%;
    height: 100%;

    /* position: -webkit-sticky; */
    position: absolute;
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */

    transform-origin: center top;

    /* display: flex;
    flex-direction: column; */

    object-fit: cover;
}



.foreground {
    translate: 0 0 -.5px;
    /* scale: 1.5;  */
    /* (perspective - distance) / perspective = scale*/
    /* (1 - -0.5) / 1 = 1.5 */

    /* justify-content: flex-start;
    align-items: flex-start; */
}

.background {
    translate: 0 0 -1px;
    /* scale: 2; */
    /* (perspective - distance) / perspective = scale*/
    /* (1 - -1) / 1 = 2 */

    /* justify-content: flex-start;
    align-items: flex-start; */
}



header .foreground {
    scale: 1.5;
}

header .background {
    scale: 2;
}



main .foreground {
    /* height: calc(100% / 1.5); */
    /* translate: 0 calc(var(--header-height) * .5) -.5px; */

    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start; */
}

/* main .foreground img {
    scale: 1.5;
    transform-origin: left top;
} */

main .background {
    /* height: calc(100% / 2); */
    /* translate: 0 calc(var(--header-height) * 1) -1px; */

    /* display: flex;
    justify-content: flex-end;
    align-items: flex-end; */
}

/* main .background img {
    scale: 2;
    transform-origin: right bottom;
} */





.parallax-group {
    outline: 3px solid red;
}

.parallax-layer.foreground {
    outline: 3px solid green;
}

.parallax-layer.background {
    outline: 3px solid blue;
}





/* https://www.youtube.com/watch?v=mxHoPYFsTuk&t=309s&ab_channel=WebDevSimplified */

/* https://www.youtube.com/watch?v=3Fs2TyZkA4Q&ab_channel=w3newbie */

/* https://keithclark.co.uk/articles/pure-css-parallax-websites/#parallax-sections */
