:root {
    --header-height: 20rem;
}



* {
    box-sizing: border-box;
}

/* html {
    overflow: hidden;
} */

body {
    margin: 0;

    font-size: 1.5em;

    /* height: 100vh;
    perspective: 1px;
    perspective-origin: center top;

    overflow-x: hidden;
    overflow-y: auto; */
}

h1 {
    margin: 0;

    font-size: 3em;

    color: white;
    text-shadow: 0 0 .1em black;
}



header {
    height: var(--header-height);
    padding: 1em;
}

main {
    max-width: min(100% - 2em, 70em);
    margin-inline: auto;
    padding: 1em 0;

    columns: 2;
}

footer {
    padding: 1em;
}



.parallax {
    height: 100vh;
    perspective: 1px;
    perspective-origin: center top;

    overflow-x: hidden;
    overflow-y: auto;
}

.parallax-group {
    position: relative;
    transform-style: preserve-3d;
    border: 3px solid blue;
}

.parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* transform-origin: 100%; */
}



.background {
    transform: translateZ(-1px);
    border: 3px solid red;
}

.foreground {
    transform: translateZ(-.5px);
    border: 3px solid green;
}



.main-background {
    transform: translate3D(0, calc(var(--header-height) * 1), -1px);
    border: 3px solid red;
}

.main-foreground {
    transform: translate3D(0, calc(var(--header-height) * .5), -.5px);
    border: 3px solid green;
}







/* https://www.youtube.com/watch?v=mxHoPYFsTuk&t=309s&ab_channel=WebDevSimplified */

/* https://www.youtube.com/watch?v=3Fs2TyZkA4Q&ab_channel=w3newbie */

/* https://keithclark.co.uk/articles/pure-css-parallax-websites/#parallax-sections */